language: cpp
os: linux
dist: xenial
compiler: g++
sudo: required
dist: xenial

before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-qt-5.14.1-xenial
  - sudo apt-get update


install:
  - sudo apt-get install qt514base qt514multimedia qt514quickcontrols2
  - source /opt/qt514/bin/qt514-env.sh


script:
  - /opt/qt514/bin/qmake PREFIX=/usr
  - make
  - # Generate AppImage
  - sudo apt-get -y install checkinstall
  - sudo checkinstall --pkgname=app --pkgversion="1" --pkgrelease="1" --backup=no --fstrans=no --default --deldoc
  - mkdir -p appdir/usr/bin ; cd appdir
  - dpkg -x ../app_1-1_amd64.deb . ; find .
  - mv ./usr/local/bin/* ./usr/bin/
  - cp ./usr/share/icons/hicolor/48x48/apps/OpenSoundMeter.png .
  - cp ./usr/share/applications/OpenSoundMeter.desktop .
  - cd ..
  - wget -c "https://github.com/probonopd/linuxdeployqt/releases/download/6/linuxdeployqt-6-x86_64.AppImage"
  - chmod a+x linuxdeployqt*.AppImage
  - unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
  - ./linuxdeployqt*.AppImage ./appdir/usr/bin/* -bundle-non-qt-libs
  - ./linuxdeployqt*.AppImage ./appdir/usr/bin/* -appimage
  - curl --upload-file ./OpenSoundMeter*.AppImage https://transfer.sh/OpenSoundMeter-git.$(git rev-parse --short HEAD)-x86_64.AppImage
