---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.carousel .indicators .indicator-item {
    background-color: rgba(0,0,0,0.5);
}
.carousel .indicators .indicator-item.active {
    background-color: rgba(255, 152, 0, 1);
}